.bg-contact {
    background-image: url(/img/contact.jpg);
    background-size: cover;
    height: 140vh;
    position: absolute;
    top: 260vh;
}

.contact-us {
    .content {
        background-color: $grey;
        padding: 50px;
        border-radius: 20px;
        margin: 150px 0 0 auto;
        width: 60%;
        position: relative;
        .title {
            margin-bottom: 15px;
        }
        p {
            width: 60%;
            margin-bottom: 15px;
            &:nth-child(5) {
                margin: 0;
            }
            &:nth-child(6) {
                margin: 0;
            }
        }
        .email {
            color: $purple;
            font-size: 18px;
        }
        .social {
            position: absolute;
            display: flex;
            width: 200px;
            bottom: 50px;
            right: 50px;
            color: $purple;
            justify-content: space-around;
            span {
                flex: 1 1 0;
            }
        }
    }
}