@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&family=Roboto&display=swap');
$purple: #A18189;
$pink: #FBF2E9;
$grey: #F8F9F9;
$primary-font: 'Comfortaa',
cursive;
$secondary-font: 'Roboto',
sans-serif;
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}